body{
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

main{
    border: 1px solid black;
    text-align: center;
}

footer{
    background-color: tan;
    height: 50px;
    text-align: center;
}

header h1{
    font-size: 28px;
}

header h2{
    font-size: 23px;
    color: rgb(110, 35, 196);
}

.avatar{
    width: 300px;
}

.skills ul{
    margin: 0 auto;
    max-width: 25px;
    padding: 6px;
}

.article p{
    font-style: italic;
}

.separator{
    width: 50%;
    background-color: rgb(12, 194, 67);
    height: 3px;
}

.video iframe{
    border: none;
}

.hobbies ol{
    list-style: none;
    padding: 1px;
    margin: 3px;
}

.ed_table{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}

.ed_table th, td{
    border: 1px solid black;
    padding: 10px;
}

.ed_table tfoot{
    font-size: 20px;
    font-weight: 700;
}

.quote{
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
}

.form{
    width: 600px;
    margin: 0 auto;
}

.form_control{
    width: 100%;
}

.form_area{
    width: 70%;
}

fieldset{
    border-radius: 10px;
    border: 1.5px solid black;
}

.form_submit{
    display: block;
    margin: 10px auto 15px;
    border-radius: 7px;
    padding: 7px;
    font-weight: 700;
}

.contacts a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}